name: earnin-airline-be-automation-test

on:
  push:
    branches:
      - maser
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK 11
      uses: actions/setup-java@v4.4.0
      with:
        distribution: 'temurin'
        java-version: '11'

    - name: Verify Java installation
      run: java -version

    - name: Change gradlew to executable
      run: chmod +x gradlew

    - name: Build with Gradle
      run: ./gradlew build
